<a href="https://colab.research.google.com/github/abhidendukuri/Sports_Modeling/blob/main/HW6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('pitchers17.csv')

                   pitcher     y   bf  bb    k  hr    h  lo  po  fo   go
0     Aardsma_David_430911  2012    5   1    1   1    1   0   0   0    2
1     Aardsma_David_430911  2013  172  13   36   7   39  12   8  28   28
2     Aardsma_David_430911  2015  126  11   35   6   25   9   5  21   17
3     Abad_Fernando_472551  2012  207  18   38   6   56   4  16  28   38
4     Abad_Fernando_472551  2013  166  10   32   3   42  11  17  22   29
...                    ...   ...  ...  ..  ...  ..  ...  ..  ..  ..  ...
4260      Zych_Tony_543964  2017  170  18   35   2   30   9   9  16   47
4261   deGrom_Jacob_594798  2014  563  41  144   7  117  32  19  67  126
4262   deGrom_Jacob_594798  2015  749  36  205  16  149  47  35  90  161
4263   deGrom_Jacob_594798  2016  604  36  143  15  142  36  25  68  137
4264   deGrom_Jacob_594798  2017  822  54  239  28  180  45  30  83  178

[4265 rows x 11 columns]

# 2a.

In [3]:
p_bb = sum(df.bb) / sum(df.bf)
p_k = sum(df.k) / sum(df.bf)
cp_k = sum(df.k) / sum(df.bf - df.bb)
a_hr = sum(df.hr) / sum(df.bf)
cp_hr = sum(df.hr) / sum(df.bf - df.bb - df.k)
cp_h = sum(df.h - df.hr) / sum(df.bf - df.bb - df.k - df.hr)

p_bb, p_k, cp_k, a_hr, cp_hr, cp_h

(0.07491447652363538,
 0.2063503168798128,
 0.22306079994028244,
 0.027626467982645436,
 0.03843761614721209,
 0.2914712660905554)

In [4]:
df2 = df.groupby(['pitcher', 'y']).sum().reset_index()
df2['bbrate'] = df2.bb / df2.bf
df2['krate'] = df2.k / (df2.bf - df2.bb)
df2['hrrate'] = df2.hr / (df2.bf - df2.bb - df2.k)
df2['hrate'] = (df2.h - df2.hr) / (df2.bf - df2.bb - df2.k - df2.hr)

# Additional Columns for Q3
df2['lorate'] = df2.lo / (df2.bf - df2.bb - df2.k - df2.hr)
df2['porate'] = df2.po / (df2.bf - df2.bb - df2.k - df2.hr)
df2['forate'] = df2.fo / (df2.bf - df2.bb - df2.k - df2.hr)
df2['gorate'] = df2.go / (df2.bf - df2.bb - df2.k - df2.hr)


df_1b = df2[['y', 'pitcher', 'bf', 'krate']][(df2.y > 2015) & (df2.bf >= 500)].sort_values('krate', ascending=False)
df_1c = df2[['y', 'pitcher', 'bf', 'hrate']][(df2.y > 2015) & (df2.bf >= 500)].sort_values('hrate', ascending=False)

# 2b.

In [6]:
df_1b[df_1b.y == 2016].reset_index().head(10)

   index     y                   pitcher   bf     krate
0   1190  2016     Fernandez_Jose_605228  731  0.370968
1   3524  2016       Scherzer_Max_453286  900  0.335697
2   3721  2016  Strasburg_Stephen_544931  597  0.330325
3   2021  2016    Kershaw_Clayton_477132  543  0.322702
4   3775  2016   Syndergaard_Noah_592789  742  0.310984
5   3183  2016         Ray_Robbie_592662  772  0.309220
6   3445  2016      Salazar_Danny_517593  581  0.309021
7   3942  2016  Velasquez_Vincent_592826  550  0.300395
8   3964  2016   Verlander_Justin_434378  902  0.300236
9    120  2016       Archer_Chris_502042  850  0.297573

In [7]:
df_1b[df_1b.y == 2017].reset_index().head(10)

   index     y                   pitcher   bf     krate
0   3452  2017         Sale_Chris_519242  851  0.381188
1   3525  2017       Scherzer_Max_453286  778  0.369655
2   3184  2017         Ray_Robbie_592662  662  0.367003
3   2058  2017       Kluber_Corey_446372  775  0.357625
4   1754  2017          Hill_Rich_448179  551  0.330020
5   2948  2017       Peacock_Brad_502748  546  0.329243
6    121  2017       Archer_Chris_502042  852  0.314394
7   3556  2017      Severino_Luis_622663  783  0.314208
8   3722  2017  Strasburg_Stephen_544931  696  0.311927
9   2022  2017    Kershaw_Clayton_477132  679  0.311248

# 2c.

In [8]:
df_1c[df_1c.y == 2016].reset_index().head(10)

   index     y                  pitcher   bf     hrate
0   3183  2016        Ray_Robbie_592662  772  0.347732
1   2939  2016      Paxton_James_572020  508  0.346260
2   2958  2016      Pelfrey_Mike_460059  541  0.341981
3    759  2016       Cole_Gerrit_543037  503  0.339726
4   2980  2016      Perdomo_Luis_606131  655  0.336066
5   2511  2016     McHugh_Collin_543521  795  0.335185
6    412  2016    Bradley_Archie_605151  630  0.334951
7   1047  2016      Duffey_Tyler_608648  593  0.334118
8   4009  2016     Wacha_Michael_608379  600  0.333333
9   3775  2016  Syndergaard_Noah_592789  742  0.332627

In [9]:
df_1c[df_1c.y == 2017].reset_index().head(10)

   index     y                 pitcher   bf     hrate
0   2619  2017   Montero_Rafael_606160  545  0.361345
1   3778  2017  Taillon_Jameson_592791  584  0.348148
2   3223  2017  Richard_Clayton_453385  852  0.346154
3    248  2017     Bauer_Trevor_545333  749  0.333333
4   2722  2017     Nelson_Jimmy_519076  727  0.333333
5   1361  2017    Gausman_Kevin_592332  816  0.331471
6   2564  2017       Miley_Wade_489119  727  0.329060
7   3055  2017     Pivetta_Nick_601713  584  0.328729
8    788  2017    Colon_Bartolo_112526  648  0.328629
9    396  2017        Boyd_Matt_571510  602  0.327830

In [10]:
df2['bbrate_prev'] = np.NaN
bfs = {k:0 for k in df2.pitcher.unique()}


for i in range(len(df2)):
  bf = df2.loc[i, 'bf']
  year = df2.loc[i, 'y']
  pitcher = df2.loc[i, 'pitcher']

  prev_bf = bfs[pitcher]

  if bf >= 200 and prev_bf >= 200:
    bbrate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['bbrate'].values 
    krate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['krate'].values
    hrrate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['hrrate'].values
    hrate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['hrate'].values

    lorate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['lorate'].values 
    porate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['porate'].values
    forate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['forate'].values
    gorate_prev = df2[(df2.y == year - 1) & (df2.pitcher == pitcher)]['gorate'].values    


    try:
      df2.loc[i, 'bbrate_prev'] = bbrate_prev
      df2.loc[i, 'krate_prev'] = krate_prev
      df2.loc[i, 'hrrate_prev'] = hrrate_prev
      df2.loc[i, 'hrate_prev'] = hrate_prev

      df2.loc[i, 'lorate_prev'] = lorate_prev
      df2.loc[i, 'porate_prev'] = porate_prev
      df2.loc[i, 'forate_prev'] = forate_prev
      df2.loc[i, 'gorate_prev'] = gorate_prev
    except:
      continue
  
  bfs[pitcher] = bf

In [12]:
def forward_selected(data, response):
    """Linear model designed by forward selection.

    Parameters:
    -----------
    data : pandas DataFrame with all possible predictors and response

    response: string, name of response column in data

    Returns:
    --------
    model: an "optimal" fitted statsmodels linear model
           with an intercept
           selected by forward selection
           evaluated by adjusted R-squared
    """
    remaining = set(data.iloc[:, -8:].columns)
    
    selected = []
    currScore, maxScore = 0.0, 0.0
    while remaining and currScore == maxScore:
        scores_with_cols = []
        for col in remaining:
            formula = "{} ~ {} + 1".format(response,
                                           ' + '.join(selected + [col]))
            score = smf.ols(formula, data).fit().rsquared_adj
            scores_with_cols.append((score, col))
        scores_with_cols.sort()
        maxScore, best_col = scores_with_cols.pop()
        if currScore < maxScore:
            remaining.remove(best_col)
            selected.append(best_col)
            currScore = maxScore
    formula = "{} ~ {} + 1".format(response,
                                   ' + '.join(selected))
    
    model = smf.ols(formula, data).fit()
    
    return selected, model

# 3a.

In [13]:
df_3a = df2.dropna()
result = smf.ols('bbrate ~ bbrate_prev', data=df_3a).fit()
print(result.summary())
print('R-squared:', result.rsquared_adj)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 bbrate   R-squared:                       0.286
Model:                            OLS   Adj. R-squared:                  0.285
Method:                 Least Squares   F-statistic:                     475.1
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           7.22e-89
Time:                        16:04:57   Log-Likelihood:                 3034.6
No. Observations:                1189   AIC:                            -6065.
Df Residuals:                    1187   BIC:                            -6055.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.0335      0.002     17.934      0.000       0.030       0.037
bbrate_prev     0.5474      0.025     21.797      0.000       0.498       0.597
==============================================================================
Omnibus:                       39.471   Durbin-Watson:                   2.069
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.781
Skew:                           0.379   Prob(JB):                     4.21e-11
Kurtosis:                       3.624   Cond. No.                         46.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.285252237939405

In [14]:
cols, result = forward_selected(df2, 'bbrate')
print('Selected Columns:', cols)
print(result.summary())
print('R-squared:', result.rsquared_adj)

Selected Columns: ['bbrate_prev', 'krate_prev', 'forate_prev', 'hrrate_prev', 'porate_prev']
                            OLS Regression Results
==============================================================================
Dep. Variable:                 bbrate   R-squared:                       0.299
Model:                            OLS   Adj. R-squared:                  0.296
Method:                 Least Squares   F-statistic:                     100.7
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           1.45e-88
Time:                        16:04:57   Log-Likelihood:                 3045.3
No. Observations:                1189   AIC:                            -6079.
Df Residuals:                    1183   BIC:                            -6048.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.0304      0.003      9.313      0.000       0.024       0.037
bbrate_prev     0.5272      0.025     20.705      0.000       0.477       0.577
krate_prev      0.0357      0.009      3.945      0.000       0.018       0.053
forate_prev    -0.0277      0.015     -1.841      0.066      -0.057       0.002
hrrate_prev     0.0879      0.044      1.980      0.048       0.001       0.175
porate_prev    -0.0262      0.024     -1.082      0.280      -0.074       0.021
==============================================================================
Omnibus:                       25.653   Durbin-Watson:                   2.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.861
Skew:                           0.306   Prob(JB):                     5.41e-07
Kurtosis:                       3.455   Cond. No.                         86.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.2955772676019377

# 3b.

In [15]:
df_3b = df2[['krate', 'krate_prev']].dropna()
result = smf.ols('krate ~ krate_prev', data=df_3b).fit()
print(result.summary())
print('R-squared:', result.rsquared_adj)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  krate   R-squared:                       0.558
Model:                            OLS   Adj. R-squared:                  0.558
Method:                 Least Squares   F-statistic:                     1498.
Date:                Thu, 01 Apr 2021   Prob (F-statistic):          1.19e-212
Time:                        16:04:57   Log-Likelihood:                 2072.4
No. Observations:                1189   AIC:                            -4141.
Df Residuals:                    1187   BIC:                            -4131.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0583      0.005     12.505      0.000       0.049       0.067
krate_prev     0.7474      0.019     38.707      0.000       0.710       0.785
==============================================================================
Omnibus:                       87.997   Durbin-Watson:                   2.150
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              127.110
Skew:                           0.591   Prob(JB):                     2.50e-28
Kurtosis:                       4.081   Cond. No.                         16.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.5575853320049655

In [16]:
cols, result = forward_selected(df2, 'krate')
print('Selected Columns:', cols)
print(result.summary())
print('R-squared:', result.rsquared_adj)

Selected Columns: ['krate_prev', 'lorate_prev', 'bbrate_prev', 'porate_prev', 'forate_prev', 'hrate_prev']
                            OLS Regression Results
==============================================================================
Dep. Variable:                  krate   R-squared:                       0.563
Model:                            OLS   Adj. R-squared:                  0.560
Method:                 Least Squares   F-statistic:                     253.4
Date:                Thu, 01 Apr 2021   Prob (F-statistic):          3.33e-208
Time:                        16:04:58   Log-Likelihood:                 2078.7
No. Observations:                1189   AIC:                            -4143.
Df Residuals:                    1182   BIC:                            -4108.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.0330      0.017      1.965      0.050    4.27e-05       0.066
krate_prev      0.7344      0.020     35.976      0.000       0.694       0.774
lorate_prev     0.1037      0.055      1.880      0.060      -0.004       0.212
bbrate_prev     0.0781      0.057      1.359      0.174      -0.035       0.191
porate_prev     0.1234      0.055      2.254      0.024       0.016       0.231
forate_prev    -0.0484      0.034     -1.414      0.158      -0.115       0.019
hrate_prev      0.0528      0.042      1.245      0.213      -0.030       0.136
==============================================================================
Omnibus:                       79.232   Durbin-Watson:                   2.147
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              109.937
Skew:                           0.561   Prob(JB):                     1.34e-24
Kurtosis:                       3.980   Cond. No.                         54.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.5603493863624529

# 3c.

In [17]:
df_3c = df2[['hrrate', 'hrrate_prev']].dropna()
result = smf.ols('hrrate ~ hrrate_prev', data=df_3c).fit()
print(result.summary())
print('R-squared:', result.rsquared_adj)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrrate   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.068
Method:                 Least Squares   F-statistic:                     87.85
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           3.44e-20
Time:                        16:04:58   Log-Likelihood:                 3367.6
No. Observations:                1189   AIC:                            -6731.
Df Residuals:                    1187   BIC:                            -6721.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.0273      0.001     23.285      0.000       0.025       0.030
hrrate_prev     0.2954      0.032      9.373      0.000       0.234       0.357
==============================================================================
Omnibus:                       34.410   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.262
Skew:                           0.381   Prob(JB):                     4.91e-09
Kurtosis:                       3.439   Cond. No.                         76.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.06812695867399121

In [18]:
cols, result = forward_selected(df2, 'hrrate')
print('Selected Columns:', cols)
print(result.summary())
print('R-squared:', result.rsquared_adj)

Selected Columns: ['gorate_prev', 'hrrate_prev', 'lorate_prev', 'krate_prev', 'porate_prev']
                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrrate   R-squared:                       0.150
Model:                            OLS   Adj. R-squared:                  0.146
Method:                 Least Squares   F-statistic:                     41.75
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           1.15e-39
Time:                        16:04:58   Log-Likelihood:                 3421.8
No. Observations:                1189   AIC:                            -6832.
Df Residuals:                    1183   BIC:                            -6801.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.0409      0.005      7.610      0.000       0.030       0.051
gorate_prev    -0.0464      0.010     -4.745      0.000      -0.066      -0.027
hrrate_prev     0.1850      0.032      5.716      0.000       0.122       0.249
lorate_prev     0.1003      0.018      5.582      0.000       0.065       0.135
krate_prev     -0.0155      0.006     -2.395      0.017      -0.028      -0.003
porate_prev     0.0272      0.021      1.300      0.194      -0.014       0.068
==============================================================================
Omnibus:                       30.262   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.872
Skew:                           0.345   Prob(JB):                     4.41e-08
Kurtosis:                       3.455   Cond. No.                         89.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.14639007307299245

# 3d.

In [19]:
df_3d = df2.dropna()
result = smf.ols('hrate ~ hrate_prev', data=df_3d).fit()
print(result.summary())
print('R-squared:', result.rsquared_adj)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  hrate   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     35.55
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           3.27e-09
Time:                        16:04:58   Log-Likelihood:                 2449.4
No. Observations:                1189   AIC:                            -4895.
Df Residuals:                    1187   BIC:                            -4885.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2404      0.008     28.946      0.000       0.224       0.257
hrate_prev     0.1720      0.029      5.963      0.000       0.115       0.229
==============================================================================
Omnibus:                       12.209   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               18.016
Skew:                          -0.061   Prob(JB):                     0.000122
Kurtosis:                       3.591   Cond. No.                         34.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.028261884215130206

In [20]:
cols, result = forward_selected(df2, 'hrate')
print('Selected Columns:', cols)
print(result.summary())
print('R-squared:', result.rsquared_adj)

Selected Columns: ['porate_prev', 'krate_prev', 'hrate_prev', 'gorate_prev', 'bbrate_prev']
                            OLS Regression Results
==============================================================================
Dep. Variable:                  hrate   R-squared:                       0.071
Model:                            OLS   Adj. R-squared:                  0.067
Method:                 Least Squares   F-statistic:                     18.07
Date:                Thu, 01 Apr 2021   Prob (F-statistic):           2.66e-17
Time:                        16:04:59   Log-Likelihood:                 2475.6
No. Observations:                1189   AIC:                            -4939.
Df Residuals:                    1183   BIC:                            -4909.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.3024      0.018     16.585      0.000       0.267       0.338
porate_prev    -0.2068      0.052     -3.948      0.000      -0.310      -0.104
krate_prev     -0.0675      0.015     -4.620      0.000      -0.096      -0.039
hrate_prev      0.0901      0.033      2.723      0.007       0.025       0.155
gorate_prev    -0.0361      0.023     -1.570      0.117      -0.081       0.009
bbrate_prev     0.0534      0.041      1.299      0.194      -0.027       0.134
==============================================================================
Omnibus:                       12.566   Durbin-Watson:                   1.988
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               19.377
Skew:                           0.023   Prob(JB):                     6.20e-05
Kurtosis:                       3.624   Cond. No.                         78.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
R-squared: 0.06701003857330046