In [1]:
!pip install pylogit

Requirement already satisfied: pylogit in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: pandas>=0.16.2 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (1.0.1)
Requirement already satisfied: statsmodels>=0.6.1 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (0.11.0)
Requirement already satisfied: tqdm>=4.15.0 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (4.42.1)
Requirement already satisfied: numpy>=1.10.2 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (1.19.0)
Requirement already satisfied: scipy>=0.16.1 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (1.4.1)
Requirement already satisfied: future>=0.16 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pylogit) (0.18.2)
Requirement already satisfied: pytz>=2017.2 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.16.2->pylogit) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.16.2->pylogit) (2.8.1)
Requirement already satisfied: patsy>=0.5 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from statsmodels>=0.6.1->pylogit) (0.5.1)
Requirement already satisfied: six>=1.5 in /Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.16.2->pylogit) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import pylogit
from scipy.special import logit
pd.options.display.max_columns = 100

In [3]:
df = pd.read_csv('xc.csv', parse_dates=['dt'])

In [4]:
dups = df.groupby('race_id').box.agg(lambda x : len(x)-x.nunique())
dups = dups.loc[dups>0]
df = df.loc[~df.race_id.isin(dups.index)].copy()

In [5]:
win_choice = df.loc[df.winner == 1].sample(frac = 1.0).groupby('race_id').head(1).loc[:,['race_id','box']].copy()
win_choice['twinner'] = 1
win_choice.head()

        race_id  box  twinner
230430  4531240    5        1
300796  4565225    2        1
252338  4541360    2        1
327894  4576527    6        1
353845  4589320    2        1

In [6]:
dfm = df.merge(win_choice, on = ['race_id','box'], how = 'left')
dfm.twinner = dfm.twinner.fillna(0)
dfm = dfm.sort_values(['race_id','box'])
dfm = dfm[dfm.race_type == 'flat_race']
dfm

,Unnamed: 0,race_id,stadium_id,distance_m,going,race_type,race_grade,dog_id,place,time,decimal_price,comment,box,kg,winner,dt,origTime,dnf,twinner
1,2,4418717,13025,515,-0.1,flat_race,A6,2207348,3,31.33,7.00,"CrdRnUp&1,Led2To 3/4",1,31.25,0,2019-01-01,31.33,0,0.0
5,6,4418717,13025,515,-0.1,flat_race,A6,2354055,1,31.04,2.75,"CrdRnUp&1,Mid 1/2,Ld 3/4",2,28.75,1,2019-01-01,31.04,0,1.0
4,5,4418717,13025,515,-0.1,flat_race,A6,2342199,6,31.70,4.00,"EP,CrdRnUp&1& 1/4&3&4",3,34.00,0,2019-01-01,31.70,0,0.0
3,4,4418717,13025,515,-0.1,flat_race,A6,2338001,2,31.31,3.50,"SAw,BBlk 1/4,Crowded3",4,35.50,0,2019-01-01,31.31,0,0.0
0,1,4418717,13025,515,-0.1,flat_race,A6,2176330,4,31.41,11.00,"BadlyBlkVW1,Crd3",5,27.75,0,2019-01-01,31.41,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422307,422328,4622755,13010,500,0.0,flat_race,A7,2385735,3,30.53,7.00,Crd&Ld1-2&Crd,2,26.25,0,2020-03-23,30.53,0,0.0
422303,422324,4622755,13010,500,0.0,flat_race,A7,2241269,2,30.27,3.75,"Middle,EveryChance",3,32.00,0,2020-03-23,30.27,0,0.0
422305,422326,4622755,13010,500,0.0,flat_race,A7,2316369,1,30.05,2.20,"Middle,Led2",4,28.25,1,2020-03-23,30.05,0,1.0
422308,422329,4622755,13010,500,0.0,flat_race,A7,2393534,4,30.61,6.00,"Middle,EveryChance",5,26.75,0,2020-03-23,30.61,0,0.0
422306,422327,4622755,13010,500,0.0,flat_race,A7,2346260,5,30.63,5.00,"MidToWide,EveryChance",6,28.50,0,2020-03-23,30.63,0,0.0

In [7]:
startupTime = 1.75
distDft = 400
distExp = 0.11
dfm['runTime'] = dfm.time - startupTime
dfm['mmps'] = dfm.distance_m/dfm.runTime * (dfm.distance_m**distExp)/(distDft**distExp)
dfm['avg_mmps'] = dfm.groupby(['dog_id']).mmps.transform(lambda x : x.expanding().mean().shift(1, fill_value = np.NaN))

In [8]:
dfm

,Unnamed: 0,race_id,stadium_id,distance_m,going,race_type,race_grade,dog_id,place,time,decimal_price,comment,box,kg,winner,dt,origTime,dnf,twinner,runTime,mmps,avg_mmps
1,2,4418717,13025,515,-0.1,flat_race,A6,2207348,3,31.33,7.00,"CrdRnUp&1,Led2To 3/4",1,31.25,0,2019-01-01,31.33,0,0.0,29.58,17.901163,NaN
5,6,4418717,13025,515,-0.1,flat_race,A6,2354055,1,31.04,2.75,"CrdRnUp&1,Mid 1/2,Ld 3/4",2,28.75,1,2019-01-01,31.04,0,1.0,29.29,18.078403,NaN
4,5,4418717,13025,515,-0.1,flat_race,A6,2342199,6,31.70,4.00,"EP,CrdRnUp&1& 1/4&3&4",3,34.00,0,2019-01-01,31.70,0,0.0,29.95,17.680014,NaN
3,4,4418717,13025,515,-0.1,flat_race,A6,2338001,2,31.31,3.50,"SAw,BBlk 1/4,Crowded3",4,35.50,0,2019-01-01,31.31,0,0.0,29.56,17.913275,NaN
0,1,4418717,13025,515,-0.1,flat_race,A6,2176330,4,31.41,11.00,"BadlyBlkVW1,Crd3",5,27.75,0,2019-01-01,31.41,0,0.0,29.66,17.852880,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422307,422328,4622755,13010,500,0.0,flat_race,A7,2385735,3,30.53,7.00,Crd&Ld1-2&Crd,2,26.25,0,2020-03-23,30.53,0,0.0,28.78,17.804891,17.295780
422303,422324,4622755,13010,500,0.0,flat_race,A7,2241269,2,30.27,3.75,"Middle,EveryChance",3,32.00,0,2020-03-23,30.27,0,0.0,28.52,17.967208,18.113048
422305,422326,4622755,13010,500,0.0,flat_race,A7,2316369,1,30.05,2.20,"Middle,Led2",4,28.25,1,2020-03-23,30.05,0,1.0,28.30,18.106882,17.811021
422308,422329,4622755,13010,500,0.0,flat_race,A7,2393534,4,30.61,6.00,"Middle,EveryChance",5,26.75,0,2020-03-23,30.61,0,0.0,28.86,17.755536,17.694191
422306,422327,4622755,13010,500,0.0,flat_race,A7,2346260,5,30.63,5.00,"MidToWide,EveryChance",6,28.50,0,2020-03-23,30.63,0,0.0,28.88,17.743240,17.719615

In [9]:
dfm['prior_races'] = dfm.groupby(['dog_id']).mmps.transform(lambda x : x.expanding().count().shift(1, fill_value = 0))
dt_prev = dfm.groupby(['dog_id']).dt.transform(lambda x : x.shift(1, fill_value = np.NaN))
dfm['dt_prev'] = 1*(dfm.dt - dt_prev <= '90 days')
dfm['drop_race'] = 1*((dfm.dt_prev == 0) | (dfm.prior_races < 3))

In [10]:
df2 = dfm[~dfm.race_id.map(dfm.groupby('race_id').sum().drop_race > 0)]
df2.dropna()

,Unnamed: 0,race_id,stadium_id,distance_m,going,race_type,race_grade,dog_id,place,time,decimal_price,comment,box,kg,winner,dt,origTime,dnf,twinner,runTime,mmps,avg_mmps,prior_races,dt_prev,drop_race
20571,20579,4428694,13026,265,-0.25,flat_race,D2,2295234,3,17.23,4.00,EvCh,1,31.25,0,2019-01-22,17.23,0,0.0,15.48,16.360831,16.357352,4.0,1,0
20570,20578,4428694,13026,265,-0.25,flat_race,D2,2291147,6,17.63,6.00,StbStt,2,24.00,0,2019-01-22,17.63,0,0.0,15.88,15.948720,16.277365,4.0,1,0
20569,20577,4428694,13026,265,-0.25,flat_race,D2,2264827,1,16.85,3.50,"QAw,ALd",3,33.50,1,2019-01-22,16.85,0,1.0,15.10,16.772561,16.347190,3.0,1,0
20567,20575,4428694,13026,265,-0.25,flat_race,D2,2252689,2,17.05,4.00,"EP,EvCh",4,31.75,0,2019-01-22,17.05,0,0.0,15.30,16.553312,16.402670,3.0,1,0
20568,20576,4428694,13026,265,-0.25,flat_race,D2,2260710,4,17.25,11.00,"EP,Wide",5,24.50,0,2019-01-22,17.25,0,0.0,15.50,16.339720,16.491822,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422307,422328,4622755,13010,500,0.00,flat_race,A7,2385735,3,30.53,7.00,Crd&Ld1-2&Crd,2,26.25,0,2020-03-23,30.53,0,0.0,28.78,17.804891,17.295780,13.0,1,0
422303,422324,4622755,13010,500,0.00,flat_race,A7,2241269,2,30.27,3.75,"Middle,EveryChance",3,32.00,0,2020-03-23,30.27,0,0.0,28.52,17.967208,18.113048,38.0,1,0
422305,422326,4622755,13010,500,0.00,flat_race,A7,2316369,1,30.05,2.20,"Middle,Led2",4,28.25,1,2020-03-23,30.05,0,1.0,28.30,18.106882,17.811021,44.0,1,0
422308,422329,4622755,13010,500,0.00,flat_race,A7,2393534,4,30.61,6.00,"Middle,EveryChance",5,26.75,0,2020-03-23,30.61,0,0.0,28.86,17.755536,17.694191,17.0,1,0
422306,422327,4622755,13010,500,0.00,flat_race,A7,2346260,5,30.63,5.00,"MidToWide,EveryChance",6,28.50,0,2020-03-23,30.63,0,0.0,28.88,17.743240,17.719615,29.0,1,0

In [11]:
train = df2[df2.dt.between('2019-07-01', '2020-01-31')]
test = df2[df2.dt >= '2020-02-01']

In [12]:
test

,Unnamed: 0,race_id,stadium_id,distance_m,going,race_type,race_grade,dog_id,place,time,decimal_price,comment,box,kg,winner,dt,origTime,dnf,twinner,runTime,mmps,avg_mmps,prior_races,dt_prev,drop_race
374276,374297,4599463,13048,238,0.0,flat_race,D4,2241074,4,15.60,8.00,Crd 1/2,1,30.25,0,2020-02-01,15.60,0,0.0,13.85,16.230207,16.130695,51.0,1,0
374280,374301,4599463,13048,238,0.0,flat_race,D4,2308857,5,15.72,3.50,"SAw,Crd1",2,26.25,0,2020-02-01,15.72,0,0.0,13.97,16.090792,16.192674,31.0,1,0
374279,374300,4599463,13048,238,0.0,flat_race,D4,2299036,3,15.58,7.00,Crd 1/2,3,29.00,0,2020-02-01,15.58,0,0.0,13.83,16.253678,16.275299,42.0,1,0
374277,374298,4599463,13048,238,0.0,flat_race,D4,2277653,6,15.82,13.00,VSAw,4,35.00,0,2020-02-01,15.82,0,0.0,14.07,15.976429,15.930729,51.0,1,0
374278,374299,4599463,13048,238,0.0,flat_race,D4,2293629,1,15.34,3.00,"EP,Led1,Wide2",5,23.00,1,2020-02-01,15.34,0,1.0,13.59,16.540718,16.333327,44.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422307,422328,4622755,13010,500,0.0,flat_race,A7,2385735,3,30.53,7.00,Crd&Ld1-2&Crd,2,26.25,0,2020-03-23,30.53,0,0.0,28.78,17.804891,17.295780,13.0,1,0
422303,422324,4622755,13010,500,0.0,flat_race,A7,2241269,2,30.27,3.75,"Middle,EveryChance",3,32.00,0,2020-03-23,30.27,0,0.0,28.52,17.967208,18.113048,38.0,1,0
422305,422326,4622755,13010,500,0.0,flat_race,A7,2316369,1,30.05,2.20,"Middle,Led2",4,28.25,1,2020-03-23,30.05,0,1.0,28.30,18.106882,17.811021,44.0,1,0
422308,422329,4622755,13010,500,0.0,flat_race,A7,2393534,4,30.61,6.00,"Middle,EveryChance",5,26.75,0,2020-03-23,30.61,0,0.0,28.86,17.755536,17.694191,17.0,1,0
422306,422327,4622755,13010,500,0.0,flat_race,A7,2346260,5,30.63,5.00,"MidToWide,EveryChance",6,28.50,0,2020-03-23,30.63,0,0.0,28.88,17.743240,17.719615,29.0,1,0

In [13]:
pylogit.choice_calcs.__file__

'/Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages/pylogit/choice_calcs.py'

In [14]:
def mlogit(formula, df, obs_id, alt_id) :
    """
    df must be sorted by obs_id to use this function
    """
    from patsy import dmatrices
    from collections import OrderedDict
    import pylogit as pl
    import numpy as np
    data = dmatrices(formula+' -1', df, return_type = "dataframe")
    all_alts = sorted(df.loc[:,alt_id].unique())
    
    spec = OrderedDict()
    names = OrderedDict()
    spec['intercept'] = all_alts[1:]
    names['intercept'] = [f'(Intercept):{alt}' for alt in all_alts[1:]]
    c_names = data[1].design_info.column_names
    choice = data[0].design_info.column_names[0]
    data[1][choice] = data[0]
    data[1][[obs_id,alt_id]] = df[[obs_id,alt_id]]    
    for c in c_names :
        spec[c] = [all_alts]
        names[c] = [c]
    model = pl.create_choice_model(data = data[1], alt_id_col = alt_id, obs_id_col = obs_id, 
                                   choice_col = choice, specification = spec, names = names, model_type = 'MNL')
    model.fit_mle(np.zeros(model.design.shape[1]), method = 'Powell')
    return model

In [15]:
model = mlogit('twinner ~ avg_mmps', train, 'race_id', 'box')

Log-likelihood at zero: -35,196.9594
Initial Log-likelihood: -35,196.9594

/Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages/scipy/optimize/_minimize.py:506: RuntimeWarning: Method Powell does not use gradient information (jac).
  RuntimeWarning)
/Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages/scipy/optimize/_minimize.py:511: RuntimeWarning: Method Powell does not use Hessian information (hess).
  RuntimeWarning)
/Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages/pylogit/estimation.py:686: OptimizeWarning: Unknown solver options: gtol
  **kwargs)

Estimation Time for Point Estimation: 3.19 seconds.
Final log-likelihood: -34,814.8535

In [16]:
model.get_statsmodels_summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                     twinner   No. Observations:               19,895
Model:             Multinomial Logit Model   Df Residuals:                   19,889
Method:                                MLE   Df Model:                            6
Date:                     Thu, 29 Apr 2021   Pseudo R-squ.:                   0.011
Time:                             16:19:52   Pseudo R-bar-squ.:               0.011
AIC:                            69,641.707   Log-Likelihood:            -34,814.853
BIC:                            69,689.096   LL-Null:                   -35,196.959
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
(Intercept):2    -0.0477      0.025     -1.941      0.052      -0.096       0.000
(Intercept):3     0.0113      0.024      0.465      0.642      -0.036       0.059
(Intercept):4    -0.0187      0.024     -0.764      0.445      -0.067       0.029
(Intercept):5    -0.1105      0.025     -4.413      0.000      -0.160      -0.061
(Intercept):6     0.0085      0.024      0.348      0.728      -0.039       0.056
avg_mmps          1.2645      0.047     26.649      0.000       1.172       1.358
=================================================================================
"""

In [17]:
from sklearn.metrics import brier_score_loss
y_pred = model.predict(test)

brier_score_loss(test.twinner, y_pred)

/Users/JARVIS/opt/anaconda3/lib/python3.7/site-packages/pylogit/base_multinomial_cm_v2.py:381: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["intercept"] = 1.0

0.14007213710576408